<div class="panel panel-info" ng-controller="ServiceController">
  <div class="panel-heading">List Of Services
    <a ui-sref="adminAddService.newService" class="pull-right">New Service</a>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Service Name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="service in services">
          <td><h4><a ng-click>{{ service.name}}</a><h4></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
