
<div>
	<div class="container container-fluid container-margin">
		<div class="col-lg-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					Login Form
				</div>
				<div class="panel-body">
					<form name="loginForm" ng-submit="login()" style="display: block;" novalidate>
						<div class="form-group">
							<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="please enter email" ng-model="usermail" required/>
							<div ng-messages="loginForm.username.$error">
								<div class="error" ng-if="loginForm.username.$dirty" ng-message="required">Email can`t be blank</div>
							</div>
						</div>
						<div class="form-group">
							<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="please enter password" ng-model="password" required/>
							<div ng-messages="loginForm.password.$error">
								<div class="error" ng-if="loginForm.password.$dirty" ng-message="required">Password can`t be blank</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-3 col-sm-offset-3">
									<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-primary" value="Log In" />

								</div>
								<div class="col-sm-3">
									<a ui-sref="adminAddService">admin home</a>
								</div>
							</div>
						</div>         
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
