<div class="panel panel-info" ng-controller="ServiceController">
  <div class="panel-heading">New Category</div>
  <div class="panel-body">
    <form class="form-horizontal">
      <fieldset>

        <!-- Form Name -->
        <legend>Form Name</legend>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="selectbasic">Category</label>
          <div class="col-md-5">
            <select id="selectbasic" name="selectbasic" class="form-control" ng-options="category.id as category.name for category in categories">
              <option value="1">--select category--</option>
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="selectbasic">State</label>
          <div class="col-md-5">
            <select id="selectbasic" name="selectbasic" class="form-control">
              <option value="0">--select ca--</option>
              <option value="2">Option two</option>
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="selectbasic">District</label>
          <div class="col-md-5">
            <select id="selectbasic" name="selectbasic" class="form-control">
              <option value="1">Option one</option>
              <option value="2">Option two</option>
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="selectbasic">Department</label>
          <div class="col-md-5">
            <select id="selectbasic" name="selectbasic" class="form-control">
              <option value="1">Option one</option>
              <option value="2">Option two</option>
            </select>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Service</label>  
          <div class="col-md-5">
            <input id="textinput" name="textinput" type="text" placeholder="Please Enter Service Name" class="form-control input-md">
            <span class="help-block">help</span>  
          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textarea">Process</label>
          <div class="col-md-5">                     
            <textarea class="form-control" id="textarea" name="textarea" placeholder="Process" height="126px"></textarea>
          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textarea">Requirements</label>
          <div class="col-md-5">                     
            <textarea class="form-control" id="textarea" name="textarea" placeholder="required documents"></textarea>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label" for="textarea">Contact Info</label>
          <div class="col-md-5">                     
            <textarea class="form-control" id="textarea" name="textarea" placeholder="Enter Contact Info"></textarea>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">External Link</label>  
          <div class="col-md-5">
            <input id="textinput" name="textinput" type="text" placeholder="External Link" class="form-control input-md">
            <span class="help-block">help</span>  
          </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="button1id"></label>
          <div class="col-md-8">
            <button id="button1id" name="button1id" class="btn btn-success">Create</button>
            <button id="button2id" name="button2id" class="btn btn-danger">Reset</button>
          </div>
        </div>

      </fieldset>
    </form>

  </div>
</div>
