<div class="container">
	<div class="row">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">WebSiteName</a>
				</div>
				<div>
					<ul class="nav navbar-nav pull-right">
						<li><a ui-sref="adminLogin"><label>Admin Login</label></a></li>
					</ul>
				</div>
			</div>
		</nav>

		<br>
		<div class="col-sm-1"></div>

		<div class="col-sm-2" ng-if="service_type!='STATE'&&service_type!='DISTRICT'||service_type=='PLACE'">	
			<label>Place</label>
			<select class="btn-default form-control" ng-model="selectedPlace.data"  ng-options="place.id as place.name for place in places">
				<option value="">--Select State--</option>
			</select><br>
		</div>
		<div class="col-sm-2" ng-if="service_type=='STATE'||service_type=='DISTRICT'||service_type=='PLACE'">	
			<label>State</label>
			<select class="btn-default form-control" ng-model="selectedState.data"  ng-options="state.id as state.name for state in states">
				<option value="">--Select State--</option>
			</select><br>
		</div>
		<div class="col-sm-2" ng-if="service_type!='STATE'||service_type=='DISTRICT'||service_type=='PLACE'">	
			<label>District</label>
			<select class="btn-default form-control" ng-model="selectedDist.data"  ng-options="dist.id as dist.name for dist in districts_data">
				<option value="">--Select District--</option>
			</select><br>
		</div>
		<br>
		<div class="col-sm-2" > 
			<button class="btn btn-default" ng-click="search()">search</button>
		</div>
	</div>

	<div class="row" style="margin-top:150px;">

		<div class="col-sm-offset-4 col-sm-2"><label>Service Name:</label></div>

		<div class="col-sm-3"><label>{{serviceData.service.name}}</label></div>

		<br><br><br>
		<div ng-repeat="services in serviceData.categories">



			<div class="col-sm-offset-1 col-sm-2"><label>Website:</label></div>

			<div class="col-sm-2"><a ng-href="{{services.link}}" target="_blank">{{services.link}}</a></div>


			<div class="col-sm-offset-1 col-sm-2"><label>Category Name:</label></div>

			<div class="col-sm-2"><label>{{services.name}}</label></div>
			<div class="col-sm-2"><button class="label label-primary" ng-click="open(services.link)">Show Details</button></div>

		</div>
	</div>

</div>
